* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Cairo", sans-serif;
}
::-webkit-scrollbar {
    width: 12.5px;
}
::-webkit-scrollbar-track {
    background: white;
}
::-webkit-scrollbar-thumb {
    background: #2196f3;
}
::-webkit-scrollbar-thumb:hover {
    background: #2196f3;
}
/* Header */
header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 50px;
    z-index: 1;
    box-shadow: 0px 0px 10px #ddd;
    background: #FFF;
}
/* Logo */
.logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    font-size: 25px;
    font-weight: bold;
    color: #2196f3;
}
/* Menu Icon */
#menu-box {
    display: none;
    cursor: pointer;
    font-size: 30px;
    color: #2196f3;
}
/* Navbar */
.navbar {
    display: flex;
    position: relative;
}
.navbar .navlist a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 70px;
    font-size: 17px;
    font-weight: 600;
    padding: 0 30px;
    color: #000;
}
.navbar .navlist a::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 4.5px;
    transition: .3s;
    background: #2196f3;
}
.navbar .navlist a:hover {
    transition: all ease-in-out .3s;
    color: #2196f3;
    background: #FAFAFA;
}
.navbar .navlist a:hover::before {
    left: 0;
}
/* Mobile Navbar */
@media(max-width: 767px) {
    .navbar {
        display: flex;
        flex-direction: column;
        text-align: center;
        position: absolute;
        right: 0;
        left: 0;
        top: -450px;
        transition: all 0.50s ease;
        border-bottom: 1px solid #E7E8E9;
        background: #FFF;
    }
    .navbar .navlist a {
        display: block;
        font-size: 20px;
        height: 45px;
        padding: 0;
    }
    .navbar.open {
        top: 100%;
    }
    #menu-box {
        display: block;
    }
    .navbar .navlist a:hover {
        background: #FFF;
    }
    .navbar .navlist a:hover::before {
        left: -100%;
    }
}
/* Landing Page */
.landing-page {
    position: relative;
}
.landing-page::before {
    content: "";
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-5deg);
    transform-origin: top left;
}
.landing-container {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 95px);
    padding: 0 40px;
}
.landing-text {
    flex: 1;
}
.landing-text h1 {
    font-size: 40px;
    margin: 0;
}
.landing-text p {
    font-size: 25px;
    margin-top: 10px 0 0;
    line-height: 1.5;
    color: #888;
    max-width: 500px;
}
.landing-image img {
    position: relative;
    width: 500px;
    animation: up-and-down 5s linear infinite;
}
@keyframes up-and-down {
    0% {
        top: 0;
    }
    50% {
        top: -50px;
    }
    100% {
        top: 0;
    }
}
/* Mobile Landing Page */
@media(max-width: 830px) {
    .landing-image img {
        display: none;
    }
    .landing-text {
        margin-top: 25px;
        text-align: center;
    }
    .landing-text p {
        max-width: 100%;
    }
}
@media(max-width: 535px) {
    .landing-text h1 {
        font-size: 30px;
    }
    .landing-text p {
        font-size: 20px;
    }
}
/* Scroll Down Button */
.scroll-down-btn {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50% );
    font-size: 30px;
    transition: .3s;
    color: #2196f3;
}
.scroll-down-btn:hover {
    color: #167dd1;
}
.scroll-down-btn i {
    animation: scroll-btn 1.5s infinite;
}
@keyframes scroll-btn {
    0% , 10% , 20% , 50% , 80% , 100% {
        transform: translateY(0);
    }
    40% , 60% {
        transform: translateY(-10px);
    }
}
@media(max-width: 767px) {
    .scroll-down-btn {
        bottom: -10px;
    }
}
/* End Section One */
.main-title {
    position: relative;
    width: fit-content;
    cursor: pointer;
    text-transform: uppercase;
    margin: 0 auto 50px;
    padding: 10px 20px;
    z-index: 1;
    font-size: 30px;
    transition: .3s;
    border: 2.5px solid black;
}
.main-title:hover {
    transition-delay: .75s;
    color: #FFF;
}
.main-title::after , .main-title::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    top: 50%;
    border-radius: 50%;
    transform: translateY(-50%);
    background: #2196f3;
}
.main-title::after {
    left: -30px;
}
.main-title::before {
    right: -30px;
}
.main-title:hover::after {
    z-index: -1;
    animation: left-move .75s linear forwards;
}
.main-title:hover::before {
    z-index: -1;
    animation: right-move .75s linear forwards;
}
@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        width: 50%;
        height: 100%;
        left: 0;
        border-radius: 0;
    }
}
@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }
    100% {
        width: 50%;
        height: 100%;
        right: 0;
        border-radius: 0;
    }
}
/* Section Two ( Articels ) */
.articles {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 50px;
}
.articles-container {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fill , minmax(280px , 1fr));
}
.articles-box {
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .125);
}
.articles-box:hover {
    transition: .5s;
    transform: translateY(-15px);
}
.articles-box img {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.articles-content {
    border-bottom: 1px solid #DDD;
}
.articles-content h3 {
    margin: 15px;
}
.articles-content p {
    margin: 15px;
    color: #888;
}
.articles-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}
.articles-info a {
    font-weight: bold;
    color: #2196f3;
}
.articles-info i {
    margin-right: 5px;
    color: #2196f3;
}
.articles-box:hover .articles-info i {
    animation: moving-arrow .5s linear infinite;
}
@keyframes moving-arrow {
    100% {
        transform: translateX(10px);
    }
}
/* Section Three ( Gallery ) */
.gallery {
    position: relative;
    padding-top: 75px;
    padding-bottom: 25px;
    background: #ECECEC;
}
.gallery-container {
    display: grid;
    gap: 40px;
    margin: 100px;
    grid-template-columns: repeat(auto-fill , minmax(375px , 1fr));
}
.gallery-box {
    padding: 15px;
    background-color: white;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.g-image {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.gallery-box img {
    max-width: 100%;
    transition: .5s;
}
.gallery-box img:hover {
    transform: rotate(5deg) scale(1.1);
}
@media(max-width: 767px) {
    .gallery-container {
        margin: 50px;
        grid-template-columns: repeat(auto-fill , minmax(200px , 1fr));
    }
}
.spikes::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 30px;
    z-index: 100;
    background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
}
/* Section Four ( Features ) */
.features {
    position: relative;
    padding-top: 75px;
    padding-bottom: 25px;
    margin-bottom: 50px;
}
.features-container {
    display: grid;
    gap: 50px;
    margin: 50px;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
}
.features-box {
    cursor: pointer;
    text-align: center;
    border: 2px solid #CCC;
}
.f-image {
    position: relative;
    overflow: hidden;
}
.f-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.f-image::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 115px 500px;
    border-color: transparent transparent #FFF transparent;
}
.features-box:hover .f-image::after {
    transition: .8s;
    border-width: 115px 500px 115px 0px;
}
.f-image img {
    max-width: 100%;
}
.quality .f-image::before {
    background: #f43f365b;
}
.time .f-image::before {
    background: #0096875b;
}
.passion .f-image::before {
    background: #03a8f46e;
}
.focus .f-image::before {
    background: #ff8d305c;
}
.features-box h2 {
    position: relative;
    font-size: 40px;
    margin: auto;
    width: fit-content;
}
.features-box p {
    padding: 8px;
    color: #888;
}
.features-box a {
    display: block;
    width: fit-content;
    margin: 0 auto 30px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 5px;
    transition: .3s;
    border: 3px solid transparent;
}
@media(max-width: 515px) {
    .features-container {
        margin: 25px;
    }
}